* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.gimg {
  align-items: center;
  width: 160px;
  height: 50px;
  margin-left: 100px;
}
.row {
  width: 35%;
  border-radius: 10px;
  padding: 48px 40px 36px;
  margin: auto;
  margin-top: 100px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.form-check-label {
  color: blue;
  font-weight: 600;
  margin-top: 10px;
  cursor: pointer;
}
.form-control {
  padding: 0.9rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  color: #212529;
  border-radius: 0.25rem;
}
.form-control:focus {
  outline: none;
}
.btn-primary {
  width: 85px;
  font-weight: 600;
  padding: 5px;
}
.btn-whihte {
  color: blue;
}
.btn-whihte:hover {
  background-color: rgb(240, 243, 247);
  color: blue;
}
@media (max-width: 1420px) {
  .row {
    width: 100%;
  }
  .gimg {
    margin-right: 145px;
  }
}

@media (max-width: 600px) {
    .row {
        width: 100%;
      }
  .gimg {
    margin-left: 10px;
  }
}
